.testimonals {
  margin-left: 4%;
  width: 90%;
  height: auto;
  overflow-x: hidden;
}
.heading__testimonals {
  width: 40%;
  height: 132px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 689;
  font-size: 99px;
  line-height: 132px;
  letter-spacing: -0.015em;
  color: #301e4e;
}
.info__testimonals {
  width: 90%;
  border: 1px groove grey;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
.info_mini_sub {
  display: flex;
  flex-direction: column;
}
.info_mini_img {
  width: 168px;
  height: 168px;
  margin-top: 35%;
}
.info_mini_para {
  width: 100%;
  height: 83px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 83px;
  letter-spacing: -0.005em;
  color: #301e4e;
}
.info_sign {
  display: flex;
  margin-left: auto;
}
.line {
  width: 100px;
  background-color: #301e4e;
  height: 4px;
}
.sign1 {
  margin-top: -20%;
  margin-left: 5%;
  width: 184px;
  height: 65px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 65px;
  color: #301e4e;
}
.sign2 {
  width: 184px;
  height: 66px;
  margin-top: -25%;
  margin-left: 5%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #ff6e6c;
}
@media screen and (max-width: 1125px) {
  .heading__testimonals {
    width: 30%;
    height: 9vh;
    font-size: 62px;
    line-height: 83px;
    letter-spacing: -0.005em;
  }
  .info_mini_img {
    width: 120px;
    height: 120px;
    margin-top: 10%;
  }
  .info_mini_para {
    margin-top: 6%;
    height: 3vh;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.0025em;
  }
  .info_mini_sub {
    justify-content: space-between;
  }

  .sign1 {
    margin-top: 0%;
    width: 30%;
    font-size: 35px;
  }
  .sign2 {
    width: 80%;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.0015em;
  }
  .line {
    margin-top: 15%;
  }
  .info__testimonals {
    justify-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .info__testimonals {
    width: 90%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .heading__testimonals {
    font-size: 40px;
    line-height: 53px;
  }
  .info_mini_para {
    font-size: 18px;
    line-height: 23px;
  }
  .info_sign {
    flex-direction: column;
    justify-content: space-between;
    margin-left: -5%;
  }
  .sign1 {
    margin-top: 0%;
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 10%;
  }
  .sign2 {
    width: 40%;
    font-size: 12px;
    line-height: 15px;
  }
  .line {
    display: none;
  }
  .info_mini_img {
    margin-top: 0%;
  }
}
