.navbar {
  background-color: white;
  height: 12vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  width: 0%;
  margin-top: 10px;
  margin-left: 2.5%;
}

.logo_image {
  width: 40px;
  height: 40px;
}
.menu-icon {
  cursor: pointer;
  right: 2%;
  width: 43px;
  height: 43px;
  background-color: #e7d7f6;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.nav_options {
  display: flex;
  align-items: center;
}
.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  width: 20%;
  height: 47px;
  font-weight: 400;
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0.0025em;
  text-decoration: none;
  color: black;
}
.toogle-content {
  position: absolute;
  position: fixed;
  right: 0%;
  background-color: #301e4e;
  margin-top: -10%;
  height: 120vh;
  width: 35%;
  z-index: 1;
}
.toogle-content ul {
  margin-top: 20%;
  list-style: none;
}
.close-icon {
  margin-left: 85%;
  margin-top: 15%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #e7d7f6;
}
.link-items {
  height: 12vh;
}
.link-items a {
  text-decoration: none;
  color: white;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 11vh;
  letter-spacing: -0.005em;
}

@media screen and (max-width: 1100px) {
  .toogle-content {
    width: 50%;
  }
  .link-items {
    height: 10vh;
  }
  .link-items a {
    font-size: 49px;
    line-height: 10vh;
  }
}
@media screen and (max-width: 1000px) {
  .toogle-content {
    margin-top: -20%;
  }
}
@media (max-width: 820px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    margin: 10px 0;
  }
  .menu li a {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
  }
  .toogle-content {
    width: 100%;
    z-index: 2;
    margin-top: -22%;
  }
  .link-items a {
    margin-left: 3%;
    height: 10vh;
    line-height: 10vh;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    height: 10vh;
  }
  .link-items a {
    width: 70%;
    height: 11vh;
    margin-left: 0%;
    font-size: 40px;
    line-height: 11vh;
  }
  .toogle-content {
    margin-top: -28%;
  }
}
