.Footer {
  margin-top: 100px;
}
.Footer__part1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  background: #301e4e;
}

.part1_content {
  width: 70%;
  height: auto;
  margin-left: 4%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 689;
  font-size: 99px;
  letter-spacing: -0.015em;
  color: #a17fc9;
}
.mini_part1 {
  color: #ff6e6c;
  text-decoration: underline;
}

.Footer__part2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background: #301e4e;
  text-align: center;
}
.logo_text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0.0025em;
  color: white;
}
.options {
  display: flex;
  margin-top: 20px;
}
.options_text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  margin-left: 30px;
  letter-spacing: 0.0015em;
  color: white;
}
.copyright {
  height: 16px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.004em;
  color: #ffffff;
}
.Footer_social {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .part1_content {
    width: 60%;
    font-size: 62px;
    line-height: 83px;
    letter-spacing: -0.005em;
  }
  .logo_text {
    margin-left: 40%;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.0025em;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .part1_content {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    width: 90%;
  }

  .Footer__part1 {
    width: 100%;
    height: 30%;
  }
  .Footer__part2 {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .options {
    margin-top: 0px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20%;
  }
  .options_text {
    width: 81px;
    height: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.0015em;
  }
  .Footer_options {
    text-align: center;
  }
  .copyright {
    margin-left: 53%;
  }
  .Footer_social {
    width: 85%;
    padding: 15px 0px;
    justify-content: center;
  }
}
